#azul{
    position: absolute;
    width: 20%;
    height: 225px;
    background-color: #004d6e; 
    margin-top: 200px;
    margin-left: 80px;
     text-align: center;
     padding-top: 20px;
}

#branco{
    position: absolute;
    width: 92%;
    height: 225px;
    background-color: #ffffff; 
    margin-top: -10px;
    margin-left: 11px;
}

#perfil1 {
    position: absolute;
    width: 92%;
    height: 225px;
    margin-top: -10px;
    margin-left: -105px;
}

#nome {
    position: absolute;
    top: 200px;
    padding-left: 370px;
    font-size: 50px;

}

#end {
    position: absolute;
    top: 290px;
    padding-left: 370px;
    font-size: 25px;

}

#cont {
    position: absolute;
    top: 350px;
    padding-left: 370px;
    font-size: 25px;

}

#ped {
    position: absolute;
    top: 460px;
    padding-left: 80px;
    font-size: 14px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#log {
    position: absolute;
    top: 520px;
    padding-left: 80px;
    font-size: 14px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}